@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body, html{
    height: 100%;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 180%;
    color: #666;
    text-align: center;
}

.parallax1{
    background: url(https://images.pexels.com/photos/913416/pexels-photo-913416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    min-height: 100%;
}

.parallax2{
    background: url(https://wallpapers.com/images/featured-small/soft-aesthetic-cei80uravrnl6ltm.webp);
    min-height: 50%;
}

.parallax3{
    background: url(https://img.freepik.com/free-photo/amazing-beautiful-sky-with-clouds-with-high-voltage-cables_58702-5792.jpg?w=900&t=st=1673173050~exp=1673173650~hmac=fd0ef12d5b3dd277f4683b14eff0de19dee37494433b655dbe483ea8aeb22e9a);
    min-height: 50%;
}

.parallax4{
    background: url(https://img.freepik.com/free-vector/blank-leafy-frame-design-vector_53876-144243.jpg?w=900&t=st=1673173236~exp=1673173836~hmac=4c763737f2809553ae56e7e9169310b7f8f3832364ccb5af3f1e3216e18e0d36);
    min-height: 100%;
}

.parallax1, .parallax2, .parallax3, .parallax4{
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heading{
    position: absolute;
    color: #fff;
    font-size: 550%;
    top: 30%;
    width: 100%;
    letter-spacing: 3px;
    text-shadow: 0 0 15px #000;  
}
.parallax1 .a{
    position: absolute;
    color: #fff;
    font-size: 300%;
    top: 45%;
    width: 100%;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #000;

}
.parallax1 .b{
    position: absolute;
    color: #fff;
    font-size: 235%;
    top: 55%;
    width: 100%;
    letter-spacing: 3px;
    -webkit-text-stroke: 0.5px #000;
}

.heading-sm{
    position: absolute;
    top: 45%;
    width: 100%;
    color: black;
    font-size: 275%;
    -webkit-text-stroke: 1px white;
    text-transform: uppercase;
}
.heading-last{
    position: absolute;
    color: #fff;
    font-size: 550%;
    top: 50%;
    width: 100%;
    letter-spacing: 3px;
    text-shadow: 0 0 15px #000; 
    -webkit-text-stroke: 1px black; 
}

.two-col{
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: left;
}
section{
    overflow: auto;
    padding: 50px 80px;
}

.dark{
    overflow: auto;
    padding: 50px 80px;
    background-color: #323232;
    color: #f2f2f2;
}

@media (max-width: 768px) {
    .heading{
        font-size: 450%;
    }
    .heading-sm{
        font-size: 180%;
    }
    .two-col{
        width: 100%;
        padding: 0;
        text-align: center;
    }
}